// Color Scheme
$white-color      : #fff !default;
$gray-1-color     : #f1f2f2 !default;
$gray-2-color     : #e6e7e8 !default;
$gray-3-color     : #bcbeb0 !default;
$gray-4-color     : #939598 !default;
$gray-5-color     : #777 !default;
$blue-color       : #59a1c9 !default;;
$dark-blue-color  : #204056 !default;;
$green-color      : #39d1b4 !default;;
$red-color        : #f65a5b !default;;