.button {
  border: 0;
  color: $white-color;
  display: inline-block;
  font-weight: 700;
  font-size: inherit;
  white-space: nowrap;
  padding: 7px 10px;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  &:hover, &:focus {
    @include opacity(.85);
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    padding: 5px;
    height: 100%;
    text-align: center;
  }
}

.button--primary {
  background: $green-color;

  .icon {
    border-right: 1px solid darken($green-color, 5%);
  }
}

.button--secondary {
  background: $dark-blue-color;

  .icon {
    border-right: 1px solid darken($dark-blue-color, 5%);
  }
}

.button--third {
  background: $red-color;
}

.button--product {
  box-shadow: 0 5px 0 darken($red-color, 5%);
  font-size: 21px;
  padding: 10px 15px;
  margin-bottom: 30px;

  &:hover, &:focus {
    top: 2px;
    box-shadow: 0 3px 0 darken($red-color, 5%);
  }
}

.button--icon {
  padding-left: 35px;
}

.button--facebook {
  @include background(linear-gradient(bottom, #5e77ab, #3e568a));
  padding: 7px 15px 7px 40px;

  .icon {
    background: #3b568e;
  }
}

.button--250 {
  width: 250px;
}

.button--full {
  width: 100%;
}