.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px;
  }
}

.table--bordered {
  th, td {
    border: 1px solid $gray-2-color;
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background: $gray-1-color;
      }
    }
  }
}

.table--striped {
  tbody {
    tr {
      border-top: 1px solid $gray-2-color;
    }
  }
}

.table--label {
  width: 250px;
}